@import 'node_modules/font-awesome/scss/font-awesome';

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

header{
  .shopping-cart {
    float: right;
    .fa {
      font-size: 30px;
    }
  }
}

.product-details {
  margin-top: 100px;
  .product-image-wrapper {
    width: 400px;
    height: 600px;
    float: left;
    .product-image {
      height: 100%;
      width: 100%;
    }
  }

  .product-actions{
    float: right;
    button {
    }
  }
}
